<div id="wrapper">
  <div id="main">
    <section id="one">
      <div class="container">
        <header class="major">
          <h2><%= @phonetic.word %></h2>
        </header>
      </div>
    </section>

    <section>
      <div class="container">
        <h3>NATO</h3>
        <p><%= convert_nato %></p>
      </div>
    </section>

    <section>
      <div class="container">
        <h3>English</h3>
        <p><%= convert_english %></p>
      </div>
    </section>



    <section>
      <div class="container">
        <h3>Italian</h3>
        <p><%= convert_italian %></p>
      </div>
    </section>

    <section>
      <div class="container">
        <h3>German</h3>
        <p><%= convert_german %></p>
      </div>
    </section>

    <section>
      <div class="container">
        <h3>Morse Code</h3>
        <p><%= convert_morse %></p>
      </div>
    </section>


     <section>
      <div class="container">
        <h2>Try something else</h2>
      <%= form_for @phonetic do |f| %>
        <div class="row">
          <div class="6u 12u(xsmall)">

            <%= f.text_field :word, placeholder: "Try another word" %> <br>
          </div>
          <div class="row uniform">
            <div class="12u">
                <%= f.submit "Go", class: "special", style: "
    width: 60px;" %>
              <% end %>
            </div>
          </div>
      </div>
    </section>
  </div>
</div>



