<article class="post">
  <header>
    <h2 class="headline">"<%= @phonetic.word %>" in the following formats:</h2>
  </header>
  <hr>
  <h4>NATO phonetics (most popular)</h4>
  <section id="post-body">
    <p><%= convert_nato %></p>

  <hr>
 <h4>Italian phonetics</h4>
  <section id="post-body">
    <p><%= convert_italian %></p>
  </section>

  <hr>
  <h4>English phonetics</h4>
  <section id="post-body">
    <p><%= convert_english %></p>
  </section>

  <hr>
 <h4>German phonetics</h4>
  <section id="post-body">
    <p><%= convert_german %></p>
  </section>

  <hr>
  <h4>Morse Code</h4>
  <section id="post-body">
    <h4><%= convert_morse %></ph4>
  </section>

<hr>
<h2 class="headline">Try another word</h2>
  <%= form_for @phonetic do |f| %>
    <%= f.text_field :word %> <br><br>
    <%= f.submit "Update word" %>
  <% end %>
</article>
