<!DOCTYPE HTML>

<html>
  <head>
    <title>SpellIt</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>

    <section id="header">
        <header>
          <span class="image avatar"><%= image_tag("avatar")%></span>
          <h1 id="logo"><a href="#">vajradog</a></h1>
          <p>Your question: ...<br />
          My answer: It depends</p>
        </header>
        <nav id="nav">
          <ul>
            <li><a href="http://github.com/vajradog">Github</a></li>
            <li><a href="http://endless.horse/">Endless Horse</a></li>
          </ul>
        </nav>
      </section>

<%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>

